<div>
  <nav class="gitmaster-sidebar">
    <div class="gitmaster-toggle">
      <svg
        t="1583847324655"
        class="toggle-icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="1528"
        width="256"
        height="256"
      >
        <path
          d="M835.52 424.78l-130.42 61.04 12.56-83.66-59.32-8.92-18.5 123.12-85.18 39.86v-190.18l168.84-84.6 110.7 58.6 28.08-53.04-73.7-39.02 42.18-142.48-57.52-17.04-35.1 118.52-74.62 37.4-7.72-67.78-59.6 6.76 10.18 89.66-51.72 25.92V123.16L613.2 32.6 562.8 0.02l-39.46 61.06-28.68 44.38v19.12l-79.76-22.02-44.2-86.26-53.4 27.36 56.22 109.74 121.14 33.42v228.7l-67.94-54.66 16.78-90.28-59-10.96-10.86 58.52-124.84-100.42-37.6 46.74 45.66 36.76-43.24 14.74-44.62-14.06-18 57.24 63.38 19.94 97.82-33.34 182.46 146.794v138.086l-201.2-157.76-100.74 36.18 20.28 56.46 69.54-24.96 95.98 75.26-72.8 20.16 16 57.82 115.48-31.98 57.46 45.06v131.58h60V622.46l163.72-76.62 90.42 53.14 30.4-51.72-54.9-32.26 76.66-35.88z"
          fill="#725D57"
          p-id="1529"
        ></path>
        <path
          d="M860.96 479.12l-76.66 35.88 54.9 32.26-30.4 51.72-90.42-53.14-163.72 76.62v215.98h-31.32V61.08L562.8 0.02l50.4 32.58-58.54 90.56v175.78l51.72-25.92-10.18-89.66 59.6-6.76 7.72 67.78 74.62-37.4 35.1-118.52 57.52 17.04-42.18 142.48 73.7 39.02-28.08 53.04-110.7-58.6-168.84 84.6v190.18l85.18-39.86 18.5-123.12 59.32 8.92-12.56 83.66 130.42-61.04z"
          fill="#53433F"
          p-id="1530"
        ></path>
        <path
          d="M862.76 794.718c-14.64 0-28.96 1.928-42.812 5.75-29.978-41.882-78.06-66.992-130.892-66.992-54.124 0-103.652 26.668-133.452 70.748-87.894 1.186-159.032 73.054-159.032 161.224 0 11.694 1.298 23.476 3.858 35.024l5.21 23.508h605.016l6.446-21.318A161.282 161.282 0 0 0 1024 955.958c0-88.908-72.332-161.24-161.24-161.24z"
          fill="#e16531"
          p-id="1531"
        ></path>
        <path
          d="M466.188 794.718c-14.64 0-28.958 1.928-42.812 5.75-29.978-41.882-78.062-66.992-130.894-66.992-54.12 0-103.648 26.67-133.452 70.748C71.136 805.41 0 877.278 0 965.448a161.98 161.98 0 0 0 3.858 35.024l5.21 23.508h605.016l6.446-21.318a161.282 161.282 0 0 0 6.898-46.704c0-88.908-72.332-161.24-161.24-161.24z"
          fill="#f3ca7e"
          p-id="1532"
        ></path>
        <path d="M238.666 872.23h60v60.5h-60z" fill="#725D57" p-id="1533"></path>
        <path d="M680.286 853.288h60v60.5h-60z" fill="#53433F" p-id="1534"></path>
      </svg>
      <span>Gm</span>
      <div class="popup">
        <div class="arrow"></div>
        <div class="content" data-i18n="welcome_tip"></div>
      </div>
    </div>

    <div class="gitmaster-main-icons">
      <a class="gitmaster-pin" data-store="PINNED">
        <span class="master-tooltip master-tooltip-w" aria-label="Pin this sidebar"><i class="gitmaster-icon-pin"></i></span>
      </a>

      <a class="gitmaster-settings">
        <span class="master-tooltip master-tooltip-w" data-i18n="setting" data-i18n-Type="aria-label" aria-label="Settings"
          ><i class="gitmaster-icon-settings"></i
        ></span>
      </a>
    </div>

    <div class="gitmaster-views">
      <div class="gitmaster-view gitmaster-tree-view current">
        <div class="gitmaster-view-header"></div>
        <div class="gitmaster-view-search">
          <input class="jstree-search-input" type="search" placeholder="" data-i18n="search_file" data-i18n-Type="placeholder" />
        </div>
        <a class="gitmaster-spin"><span class="gitmaster-spin--loader"></span></a>
        <div class="gitmaster-view-body file-icons-wrapper"></div>
      </div>

      <div class="gitmaster-view gitmaster-error-view">
        <div class="gitmaster-view-header gitmaster-header-text-top"></div>
        <form class="gitmaster-view-body">
          <div class="gm-error-message"></div>
        </form>
      </div>

      <div class="gitmaster-view gitmaster-settings-view">
        <div class="gitmaster-view-header gitmaster-header-text-top" data-i18n="setting"></div>
        <form class="gitmaster-view-body">
          <div class="master-tabs">
            <div class="master-tabs-bar" tabindex="0">
              <div class="master-tabs-nav-container">
                <div class="master-tabs-nav">
                  <div>
                    <div class="master-tabs-tab master-tabs-tab-disabled">GitHub</div>
                    <div class=" master-tabs-tab master-tabs-tab-disabled">GitLab</div>
                    <div class=" master-tabs-tab master-tabs-tab-disabled">Gitee</div>
                    <div class=" master-tabs-tab master-tabs-tab-disabled">Gitea</div>
                    <div class=" master-tabs-tab master-tabs-tab-disabled">Gist</div>
                  </div>
                  <div
                    class="master-tabs-ink-bar master-tabs-ink-bar-animated"
                    style="display: block; transform: translate3d(0px, 0px, 0px); width: 45px;"
                  ></div>
                </div>
              </div>
            </div>

            <div class="master-tabs-content" style="margin-left: 0%;">
              <div class="master-tabs-tabpane master-tabs-tabpane-active">
                <div>
                  <label>GitHub access token</label>
                  <div class="gitmaster-token-actions">
                    <a class="gitmaster-create-token" target="_blank" tabindex="-1">
                      <span class="master-tooltip master-tooltip-nw" data-i18n="generate_token_tip" data-i18n-Type="aria-label" aria-label="">
                        <i class="gitmaster-icon-key"></i>
                      </span>
                    </a>
                    <a class="gitmaster-help" href="https://github.com/ineo6/git-master#access-token" target="_blank" tabindex="-1">
                      <span class="master-tooltip master-tooltip-w" aria-label="Learn more">
                        <i class="gitmaster-icon-help"></i>
                      </span>
                    </a>
                  </div>
                  <input type="text" class="form-control input-block" data-store="GITHUB_TOKEN" />
                  <div class="gitmaster-disclaimer text-gray" data-i18n="token_storage_tip"></div>
                </div>
              </div>

              <div class="master-tabs-tabpane master-tabs-tabpane-inactive">
                <div>
                  <label>GitLab access token</label>
                  <div class="gitmaster-token-actions">
                    <a class="gitmaster-create-token" target="_blank" tabindex="-1"
                      ><!--
                --><span class="master-tooltip master-tooltip-nw" data-i18n="generate_token_tip" data-i18n-Type="aria-label" aria-label=""
                        ><i class="gitmaster-icon-key"></i></span
                      ><!--
              --></a
                    >
                    <a class="gitmaster-help" href="https://github.com/ineo6/git-master#access-token" target="_blank" tabindex="-1">
                      <span class="master-tooltip master-tooltip-w" aria-label="Learn more">
                        <i class="gitmaster-icon-help"></i>
                      </span>
                    </a>
                  </div>
                  <input type="text" class="form-control input-block" data-store="GITLAB_TOKEN" />
                  <div class="gitmaster-disclaimer text-gray" data-i18n="token_storage_tip"></div>
                </div>
              </div>

              <div class="master-tabs-tabpane master-tabs-tabpane-inactive">
                <div>
                  <label>Gitee access token</label>
                  <div class="gitmaster-token-actions">
                    <a class="gitmaster-create-token" target="_blank" tabindex="-1"
                      ><!--
                --><span class="master-tooltip master-tooltip-nw" data-i18n="generate_token_tip" data-i18n-Type="aria-label" aria-label=""
                        ><i class="gitmaster-icon-key"></i></span
                      ><!--
              --></a
                    >
                    <a class="gitmaster-help" href="https://github.com/ineo6/git-master#access-token" target="_blank" tabindex="-1">
                      <span class="master-tooltip master-tooltip-w" aria-label="Learn more">
                        <i class="gitmaster-icon-help"></i>
                      </span>
                    </a>
                  </div>
                  <input type="text" class="form-control input-block" data-store="GITEE_TOKEN" />
                  <div class="gitmaster-disclaimer text-gray" data-i18n="token_storage_tip"></div>
                </div>
              </div>

              <div class="master-tabs-tabpane master-tabs-tabpane-inactive">
                <div>
                  <label>Gitea access token</label>
                  <div class="gitmaster-token-actions">
                    <a class="gitmaster-create-token" target="_blank" tabindex="-1"
                    ><!--
                --><span class="master-tooltip master-tooltip-nw" data-i18n="generate_token_tip" data-i18n-Type="aria-label" aria-label=""
                    ><i class="gitmaster-icon-key"></i></span
                    ><!--
              --></a
                    >
                    <a class="gitmaster-help" href="https://github.com/ineo6/git-master#access-token" target="_blank" tabindex="-1">
                      <span class="master-tooltip master-tooltip-w" aria-label="Learn more">
                        <i class="gitmaster-icon-help"></i>
                      </span>
                    </a>
                  </div>
                  <input type="text" class="form-control input-block" data-store="GITEA_TOKEN" />
                  <div class="gitmaster-disclaimer text-gray" data-i18n="token_storage_tip"></div>
                </div>
              </div>

              <div class="master-tabs-tabpane master-tabs-tabpane-inactive">
                <div>
                  <label>Gist access token</label>
                  <div class="gitmaster-token-actions">
                    <a class="gitmaster-create-token" target="_blank" tabindex="-1"
                    ><!--
                --><span class="master-tooltip master-tooltip-nw" data-i18n="generate_token_tip" data-i18n-Type="aria-label" aria-label=""
                    ><i class="gitmaster-icon-key"></i></span
                    ><!--
              --></a
                    >
                    <a class="gitmaster-help" href="https://github.com/ineo6/git-master#access-token" target="_blank" tabindex="-1">
                      <span class="master-tooltip master-tooltip-w" aria-label="Learn more">
                        <i class="gitmaster-icon-help"></i>
                      </span>
                    </a>
                  </div>
                  <input type="text" class="form-control input-block" data-store="GIST_TOKEN" />
                  <div class="gitmaster-disclaimer text-gray" data-i18n="token_storage_tip"></div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div>
              <label>Hotkeys</label>
              <div class="gitmaster-token-actions">
                <a class="gitmaster-help" href="https://github.com/ineo6/git-master#hotkeys" target="_blank" tabindex="-1">
                  <span class="master-tooltip master-tooltip-w" aria-label="Learn more">
                    <i class="gitmaster-icon-help"></i>
                  </span>
                </a>
              </div>
            </div>
            <input type="text" autocomplete="off" spellcheck="false" autocapitalize="off" class="form-control" data-store="HOTKEYS" />
          </div>

          <div>
            <label><input type="checkbox" data-store="HOVEROPEN"/><span data-i18n="config_sidebar_hover"></span></label>
          </div>
          <div>
            <label><input type="checkbox" data-store="ICONS"/><span data-i18n="config_show_icons"></span></label>
          </div>
          <div>
            <label><input type="checkbox" data-store="FILESIZE"/><span data-i18n="config_show_size"></span></label>
          </div>
          <div>
            <label><input type="checkbox" data-store="PR"/><span data-i18n="config_pr_show"></span></label>
          </div>
          <div>
            <label><input type="checkbox" data-store="LAZYLOAD"/><span data-i18n="config_lazyload"></span></label>
            <span class="gitmaster-disclaimer is-margin-left text-gray" data-i18n="config_speed_tip">Speed up large repositories</span>
          </div>
          <div>
            <label><input type="checkbox" data-store="ANALYSIS"/><span data-i18n="config_analysis"></span></label>
          </div>

          <div>
            <button class="btn btn-primary" data-i18n="apply_settings"></button>
          </div>
        </form>
      </div>
    </div>

    <div class="gitmaster-footer">
      <div class="footer-action">
        <span class="footer-action-love">
        </span>
        <div>
          <a id="direction" class="footer-action-icon direction-toggle" tabindex="-1">
          <span class="master-tooltip master-tooltip-n" data-i18n="sidebar_toggle" data-i18n-Type="aria-label">
            <i class="masterfont master-icon-transfer"></i>
          </span>
          </a>
          <a id="gm-dark-mode" class="footer-action-icon" tabindex="-1" style="display: none">
          <span class="master-tooltip master-tooltip-n" data-i18n="dark_mode" data-i18n-Type="aria-label">
            <i class="masterfont master-icon-dark"></i>
          </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
